.btn {
    outline: none;
    border: none;
    display: block;
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: purple;
    width: fit-content;
    color: white;
    border-radius: 12px;
    top: 3px;
} 

#start-btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 8px;
    background: purple;
    width: fit-content;
    color: white;
    border-radius: 12px;
    top: 3px;
    align-items: center;

}

header {
    display: block;
    padding: 18px;
}

.highscore {
    display: block;
    float: left;
    margin: 5px;
    position: relative;
}

.timer {
    display: block;
    float: right;
    margin: 5px;
    position: relative;
}

.title-page {
    display: block;
    text-align: center;
    margin: 20%;
}

.question-container {
    display: block;
    justify-content: center;
    align-content: center;
    margin: 25%;
}

.question-prompt {
    font-size: larger;
}

